<div class="container">
    <div class="blog-preview-container">
        <div *ngFor="let blog of blog" class="blog-card" [routerLink]="[blog.uid]">
            <img *ngIf="getPrimeraImagen(blog)" [src]="getPrimeraImagen(blog)" alt="Imagen del blog"
                class="preview-image" />

            <div class="blog-content">
                <h3 class="blog-title">{{ blog.titulo }}</h3>
                <p class="blog-meta">Por {{ blog.autor }} | {{ blog.fecha | date:'mediumDate' }}</p>

                <p class="blog-summary">{{ getResumen(blog) }}</p>

                <div *ngIf="blog.etiquetas?.length" class="blog-tags">
                    <span *ngFor="let tag of blog.etiquetas">#{{ tag }}</span>
                </div>
            </div>
        </div>
    </div>
</div>