
<div class="container sp-puli d-flex justify-content-center" *ngFor="let publi of galeria">
    <div class="card">
        <div class="card-header conten-header">
            <img *ngIf="publi.fotop" src="{{publi.fotop}}" style="border-radius: 100%;" alt="{{publi.nombre}}" width="40px">
            <div class="conten-header-text">
                <h3 class="card-title">{{publi.nombre}}</h3>
            </div>
        </div>
        
        <!-- Condición para mostrar la imagen si publi.foto no está vacío -->
        <img *ngIf="publi.foto" src="{{publi.foto}}" alt="{{publi.descripcion}}">

        <div class="card-body conten-caption" *ngIf="publi.descripcion">
            <p class="card-text" *ngIf="publi.foto">{{publi.nombre}}: </p>
            <p class="card-text">{{publi.descripcion}}</p>
        </div>

        <div class="card-body d-flex justify-content-end">
            <p>{{publi.fecha | date}}</p>
        </div>
    </div>
</div>
