<div class="container">
    <div class="grid">
        <!--  -->
        <div class="card mt-3" [routerLink]="['/catalogo/producto', producto.id]" *ngFor="let producto of prodTienda">
            <div class="text-center">
                <br>
                <img class="logo" src="{{producto.foto1}}" alt="{{producto.Nombre}}" title="{{producto.Nombre}}">
                <div class="card-body">
                    <h4 class="card-title">{{producto.Nombre}}</h4>
                    <!-- <p class="card-text">{{producto.descripcion}}</p> -->
                    <p class="card-text">{{producto.precio | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>