.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btn-dropdown {
    background-color: #d8c7a2;
}

.btnbg {
    border: 1px solid #b79058;
}

.btnbg:hover {
    border: 1px solid #b79058;
    background-color: #b79058;
}

.link-edit {
    text-decoration: solid;
    color: #b79058;
}