<app-navbar></app-navbar>

<!-- Hero -->
<div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" style="
    background-image: url('../../../assets/baner.jpg');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat">
        <div class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12" style="
            backdrop-filter: blur(1px) saturate(102%);
            -webkit-backdrop-filter: blur(1px) saturate(102%);
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);">
            <div class="lc-block">
                <div>
                    <h2 class="fw-bolder text-center" style="font-size: 50px;">Nosotros</h2>
                </div>
            </div>
        </div>
</div>
<!-- Hero -->

<br>
<div class="container">
    <div class="text-center">
        <h1>¡Hola! Nosotros somos Good Vibes</h1>
    </div>
    <br>
    <div class="container-text">
        <p>
            Te damos la bienvenida a nuestro blog, donde puedo compartir nuestra mayor inspiración y mostrar con franqueza las diferentes perspectivas de nuestra pasión por la perfección. Desde que lanzamos el negocio al mercado hemos estado generando mucha expectativa, somos un negocio pequeño soñando ser una gran inspiración para la creatividad en la moda.
        </p>
        <p>
            Te invito que explores nuestro contenido y conozcas lo que nos motiva.
        </p>
    </div>
    <div class="text-center my-5">
        <img src="../../../assets/baner.jpg" class="img-fluid" alt="..." width="440px">
    </div>
    <div class="container-text">
        <p>
            Nosotros proporcionamos joyería al estilo que más te agrade. Puedes sugerirnos o nosotros creamos desde nuestra perspectiva.
        </p>
        <p>
            También, crearemos contenido sobre paso a paso en cada creación que publicamos y hacer crecer nuestro contenido y de esta forma puedas crear ¡tus propios accesorios!
        </p>
        <p>
            Nuestro propósito es crear accesorios que tenga tu misma vibra. ¿Que esperas para mostrarnos la tuya?
        </p>
        <p>
            ¡Conecta con nosotros! Y se parte de la familia Good Vibes.
        </p>
</div>

<app-footer></app-footer>