<app-navbar></app-navbar>

<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis"routerLink="/inico">
          <i class="fa-solid fa-house"></i>
          <span class="visually-hidden">Inicio</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/catalogo">Catalogo</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Producto
      </li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="row mb-3 text-center">
    <div class="col-sm-6 col-lg-8 themed-grid-col">

      <!-- carrusel -->
      <app-gale-prod></app-gale-prod>
  
    </div>
    <div class="col-6 col-lg-4 themed-grid-col text-start">

      <!-- informacion -->
      <div class="row mt-5">
        <div class="col-md-6">
            <h2>Nombre del Producto</h2>
            <p>Descripción corta del producto.</p>
            <p>Precio: $99.99</p>
            <p>Disponibilidad: En Stock</p>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col">
              <h3>Detalles del Producto</h3>
              <ul>
                  <li>Detalles adicionales sobre el producto.</li>
                  <li>Más información sobre el producto.</li>
                  <li>Características específicas.</li>
              </ul>
          </div>
      </div>
      
    </div>
  </div>
</div>

<app-footer></app-footer>