<app-navbar></app-navbar>

<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis"routerLink="/inicio">
          <i class="fa-solid fa-house"></i>
          <span class="visually-hidden">Inicio</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/catalogo">Catalogo</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{producto?.Nombre}}
      </li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="row mb-3 text-center">
    <div class="col-sm-6 col-lg-8 themed-grid-col" *ngIf="producto">

      <!-- carrusel -->
      <app-gale-prod [producto]="producto"></app-gale-prod>
  
    </div>
    <div class="col-6 col-lg-4 themed-grid-col text-start">

      <!-- informacion -->
      <div class="row mt-5">
        <div class="col-md-6">
            <h2>{{producto?.Nombre}}</h2>
            <p>{{producto?.precio | currency }}</p>
            <div *ngIf="producto as p">
              <p *ngIf="!p.stock || +p.stock === 0">Sin stock</p>
              <p *ngIf="+p.stock > 0 && +p.stock < 49">Pocas unidades</p>
              <p *ngIf="+p.stock >= 50">En stock</p>
            </div>
            <p>Categoria: {{categoria?.Nombre}}</p>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col">
              <h3>Detalles del Producto</h3>
              <p>{{producto?.descripcion}}</p>
              <div>
                <div class="row">
                  <div class="col">
                    Coleccion: {{coleccion?.coleccion}}
                  </div>
                  <div class="col">
                    Tema: {{tema?.tema}}
                  </div>
                  <div class="col">
                    Color: {{color?.color}}
                  </div>
                </div>
              </div>
          </div>
          
      </div>

      <br>

      <button type="button" class="btn btnbg text-black" (click)="irAWatsapp()">
        Para más información / comprar
        <i class="bi fa-brands fa-whatsapp" width="100" height="100"></i>
      </button>
      
    </div>
  </div>
</div>

<app-footer></app-footer>