<nav class="navbar navbar-expand-lg p-3 bgpri" id="headerNav">
    <div class="container-fluid">
      <a class="navbar-brand d-block d-lg-none" href="#">
        <img src="../../../assets/logo.png" height="80" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link mx-2" href="/inicio">
              <img src="../../../assets/logo.png" height="80" />
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acerca de
            </a>
            <ul class="dropdown-menu bgsec" aria-labelledby="navbarDropdownMenuLink1" >  
              <li><a class="dropdown-item" routerLink="/nosotros" routerLinkActive="selec">Nosotros</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" >
            <div *ngIf="this.nombre">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{this.nombre}}
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="/miperfil">Mi perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="cerrar()">Cerrar Sesion</a></li>
              </ul>
            </div>
            <div *ngIf="!this.nombre">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </a>
              <ul class="dropdown-menu bgnav" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/iniciosesion">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" routerLink="/registro">Registro</a></li> 
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
