*{
    font-size: 14pt;
}
  
  @media screen and (min-width:992px){
      .nav-item {
        line-height:80px;
      }
  }
  
  .nav-link:hover{
    color: #fff4ed;
  }

  .selec:hover{
    background-color: #fff4ed;
  }
  