<div class="container">
    <div class="grid">
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba2.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba3.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba4.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba5.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="card mt-3" [routerLink]="['/producto']">
            <div class="text-center">
                <br>
                <img class="logo" src="../../../assets/prod-prueba.jpg">
                <div class="card-body">
                    <h4 class="card-title">collar 1</h4>
                    <p class="card-text">para parajea</p>
                    <p class="card-text">$23</p>
                </div>
            </div>
        </div>
    </div>
</div>