.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.card {
    background: none;
    border: none;
    /* Para eliminar el borde de las tarjetas */
    box-shadow: none;
    /* Para eliminar la sombra de las tarjetas */
}

.card:hover {
    background-color: #F0E5DD;
    border: none;
    border-radius: none;
}

.filtros {
    display: flex;
    justify-content: end;
}

.btn-sb-filter{
    border: 1px solid var(--600);
    color: var(--600);
}

.btn-grp-filter:nth-child(1){
    margin-right: 10px;
}

.btn-sb-filter:hover{
    border: 1px solid var(--700);
    // background-color: #aa7c4c;
    color: var(--700);
}

// side bar filter

.mat-expansion-panel-header-title {
    font-size: 18px;
    color: var(--50);
    padding: 8px;
}

.mat-expansion-panel {
    background-color: var(--400);
    // background-color: transparent;
}

@media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
        background-color: var(--400);
        // background-color: transparent;
    }
}

.accordion{
    margin-bottom: 10px;
}

.btn-filter{
    margin: 0 6px 4px 0;
}

.btn-filter-on {
    background-color: var(--700);
    border-color: var(--700);
    color: white;
}

.btn-filter-off{
    border: 1px solid var(--950);
    color: var(--950);
}

.btn-group-sd-filter{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.btn-ver{
    color: var(--50);
    background-color: var(--500);
}

.btn-eli-filter{
    border: 1px solid var(--950);
    background-color: var(--950);
    color: var(--50);
}