<app-navbar></app-navbar>

<!-- Hero -->
<div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" style="
    background-image: url('../../../assets/baner.jpg');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat">
        <div class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12" style="
            backdrop-filter: blur(1px) saturate(102%);
            -webkit-backdrop-filter: blur(1px) saturate(102%);
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);">
            <div class="lc-block">
                <div>
                    <h2 class="fw-bolder text-center" style="font-size: 50px;">Blogs</h2>
                    <!-- <h4 class="text-center" style="font-size: 25px;">Proximamente...</h4> -->
                </div>
            </div>
        </div>
</div>
<!-- Hero -->

<app-tar-gale></app-tar-gale>

<app-footer></app-footer>