<app-sidebar></app-sidebar>
<br>
<div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="dashboard/inicio">
            <i class="fa-solid fa-house"></i>
            <span class="visually-hidden">Inicio</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Productos
        </li>
      </ol>
    </nav>
</div>

<app-tar-d-prod></app-tar-d-prod>