<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card bgcard text-center" routerLink="/dashboard/productos">
                <div class="card-header fs-4">
                    <i class="fa-solid fa-shop"></i>
                    Productos
                </div>
                <div class="card-body">
                    Productos: {{prodTienda.length}}
                    <div *ngFor="let procate of totalpCat">
                        {{procate.categoria}}: {{procate.total_productos}}
                    </div>             
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center">
                <div class="card-header  fs-4">
                    <i class="fa-solid fa-user"></i>
                    Usuarios
                </div>
                <div class="card-body">
                    Usuarios: 10 
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center" routerLink="/dashboard/galerias">
                <div class="card-header fs-4">
                    <i class="fa-solid fa-image"></i>
                    Blogs
                </div>
                <div class="card-body">
                    Publicaciones: {{totalPub?.Total}}
                    <br>
                    Fotos: {{totalPub?.fotos}}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center">
                <div class="card-header fs-4">Hola</div>
                <div class="card-body">
                    content
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>
        
    </div>
</div>
