<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card bgcard text-center" routerLink="/dashboard/productos">
                <div class="card-header">
                    <i class="fa-solid fa-shop"></i>
                    Productos
                </div>
                <div class="card-body">
                    Productos: 10                    
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center">
                <div class="card-header">
                    <i class="fa-solid fa-user"></i>
                    Usuarios
                </div>
                <div class="card-body">
                    Usuarios: 10 
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center">
                <div class="card-header">Hola</div>
                <div class="card-body">
                    content
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bgcard text-center">
                <div class="card-header">Hola</div>
                <div class="card-body">
                    content
                </div>
                <div class="card-footer">Ultima Actualizacion 10/10/10 12:12</div>
            </div>
        </div>
        
    </div>
</div>
