/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{ margin: 0; font-family: 'Josefin Sans', sans-serif; }

:root{
    --50: #faf7f2;
    --100: #f3eee1;
    --200: #e6dbc2;
    --goodvibes: #D8C7A2;
    --400: #c4a673;
    --500: #b79058;
    --600: #aa7c4c;
    --700: #8d6441;
    --800: #735239;
    --900: #5d4431;
    --950: #322318;
}

.bgpri{
    background-color: var(--goodvibes);
}

.bgsec{
    background-color: #fff4ed;
}

.bgter{
    background-color: #e6dbc2;
}