<app-sidebar></app-sidebar>
<div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" routerLink="../../inicio">
            <i class="fa-solid fa-house"></i>
            <span class="visually-hidden">Inicio</span>
          </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="../../productos">Producto</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{producto?.Nombre}}
        </li>
      </ol>
    </nav>
  </div>
  
  <div class="container">
    <div class="row mb-3 text-center">
      <div class="col-sm-6 col-lg-8 themed-grid-col" *ngIf="producto">
  
        <!-- carrusel -->
        <app-gale-prod-da [producto]="producto"></app-gale-prod-da>
    
      </div>
      <div class="col-6 col-lg-4 themed-grid-col text-start">
  
        <!-- informacion -->
        <div class="row mt-5">
          <div class="col-md-6">
              <h2>Nombre: {{producto?.Nombre}}</h2>
              
              <p>Precio: {{producto?.precio | currency:'MXN':'symbol':'1.2-2' }}</p>
              <p>Disponibilidad: {{producto?.stock}}</p>
              <p>Categoria: {{producto?.categoria}}</p>
          </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Detalles del Producto</h3>
                <p>{{producto?.descripcion}}</p>
            </div>
        </div>
        
      </div>
    </div>
  </div>